.searchForm__button
{
    margin-left: 5px;
    cursor: pointer;

}

.searchForm__button:disabled
{
    opacity: .5;
}

.searchFrom__buttonIcon
{
    width: 16px;
    height: 16px;
    display: flex;
    margin: auto;
}
