.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}

.wikiArticle
{
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
    width: 50%;
    animation: slide-up .4s ease;
}

.titleLink
{
    color: #000;
    text-decoration: none;
}

.titleLinkWhite
{
    color: #fff;
    text-decoration: none;
}

.titleLink:hover,
.titleLinkWhite:hover
{
    text-decoration: underline;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
