.articles
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    overflow-y: scroll;

    opacity: 0;
    animation: slide-up .4s forwards ease;
}

.articles_reset
{
    composes: articles;
    animation: articles-disappear .4s forwards ease;
}

.articles::-webkit-scrollbar
{
    display: none;
}

.article
{
    margin: 30px auto 0;
    width: 50%;
}

.article__titleLink
{
    color: #000;
    text-decoration: none;
}

.article__titleLink_color_white
{
    color: #fff;
    text-decoration: none;
}

.article__titleLink:hover,
.article__titleLink_color_white:hover
{
    text-decoration: underline;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes articles-disappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
