.searchForm
{
    display: flex;
    margin: 0 auto;
    width: 70%;
    flex-basis: 20px;
}

.searchForm__inputQuery
{
    flex-grow: 1;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding-left: 10px;
}

.searchForm__inputCount
{
    width: 30px;
    height: 18px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    text-align: center;
}

.searchForm__inputQuery:focus,
.searchForm__inputCount:focus
{
    outline: none;
}

.searchLanguage
{
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}

.containerTooltip
{
    position: relative;
    width: 32px;
    margin-left: 5px;
}

.containerTooltip__tooltip
{
    display: none;
    position: absolute;
    width: 130px;
    top: 150%;
    left: -175%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000;
}

.tooltip__text
{
    margin: 0 auto;
}

.containerTooltip__tooltip:after
{
    content: '';
    position: absolute;
    top: -20%;
    left: 47%;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.searchForm__inputCount:hover ~ .containerTooltip__tooltip
{
    display: flex;
}

@media screen and (max-width: 730px) {
    .searchForm
    {
        display: flex;
        margin: 0 auto;
        width: 95%;
        flex-basis: 20px;
    }

    .searchForm__inputCount
    {
        height: 21px;
    }

    .containerTooltip__tooltip
    {
        left: -175%;
    }

    .tooltip__text
    {
        font-size: 12px;
    }
}
