.searchForm
{
    display: flex;
    margin: 0 auto;
    width: 50%;
}

.searchForm__input
{
    flex-grow: 1;
}

.searchLanguage
{
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}
