.searchForm__errorCount
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 160px;
    top: -50px;
    left: -120%;
    color: #a94442;
    border: 2px solid #a94442;
    border-radius: 8px;
    font-size: 15px;
    background: #ffc000;
    z-index: 1;
}

.searchForm__errorCount:after
{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 45%;
    bottom: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #a94442;
}

.error__countText
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .searchForm__errorCount
    {
        width: 140px;
        left: -108%;
        top: -45px;
    }

    .error__countText
    {
        font-size: 13px;
    }
}

@media screen and (max-width: 730px){
    .searchForm__errorCount
    {
        width: 135px;
        top: 130%;
        left: -140%;
    }

    .searchForm__errorCount:after
    {
        bottom: 100%;
        border-top: 7px solid transparent;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #a94442;
    }

    .error__countText
    {
        font-size: 13px;
    }
}

@media screen and (max-width: 730px) and (orientation: landscape){
    .searchForm__errorCount
    {
        left: -110%;
    }
}
