.searchResult
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 115px;
    margin-bottom: 58px;
}

.searchResult__time
{
    position: fixed;
    z-index: 1;
    top: 105px;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    animation: show .4s forwards ease;
}

.searchResult__time_reset
{
    composes: searchResult__time;
    animation: show .4s forwards ease reverse;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px){
    .searchResult__time
    {
        width: 85%;
        left: 7.5%;
    }
}

@media screen and (max-width: 730px) {
    .searchResult__time
    {
        position: absolute;
        top: -10px;
        width: 90%;
        left: 5%;
    }

    .searchResult
    {
        margin: 0;
    }
}
