.footer
{
    display: flex;
    width: 100%;
    border-top: 2px solid #d7d7d7;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    transition: all 1s ease;
}

.footer_theme_black
{
    composes: footer;
    border-top: 2px solid #202020;
    background-color: #0f0f0f;
    transition: all 1s ease;
}

.contacts
{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 5px auto 5px 10px;
}

.wikiApi
{
    display: flex;
    margin: auto 10px auto 0;
}

.contacts__git
{
    margin-bottom: 10px;
}

.contacts__icon,
.wikiApi__icon
{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.contacts__gitIcon
{
    composes: contacts__icon;
    background: url("../../pic/github.svg");
}

.contacts__mailIcon
{
    composes: contacts__icon;
    background: url("../../pic/gmail.svg");
}

.wikiApi__icon
{
    background-size: 16px 16px;
    background-image: url("../../pic/mediawikiwiki.png");
}

.contacts__link,
.wikiApi__link,
.contacts__link:visited,
.wikiApi__link:visited
{
    display: flex;
    text-decoration: none;
    color: #000;
}

.contacts__link_theme_black,
.wikiApi__link_theme_black,
.contacts__link_theme_black:visited,
.wikiApi__link_theme_black:visited
{
    display: flex;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 730px) {
    .footer
    {
        font-size: 13px;
    }
}
