.wikiFooter
{
    display: flex;
    width: 100%;
    border-top: 2px solid #d7d7d7;
    background-color: #f8f8f8;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
}

.contacts
{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 5px auto 5px 10px;
}

.contactsGit
{
    margin-bottom: 10px;
}

.wikiApi
{
    display: flex;
    margin: auto 10px auto 0;
}

.contactsIcon,
.wikiApiIcon
{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.gitIcon
{
    composes: contactsIcon;
    background: url("../../pic/github.svg");
}

.mailIcon
{
    composes: contactsIcon;
    background: url("../../pic/gmail.svg");
}

.wikiApiIcon
{
    background-size: 16px 16px;
    background-image: url("../../pic/mediawikiwiki.png");
}

.contactsLink,
.wikiApiLink,
.contactsLink:visited,
.wikiApiLink:visited
{
    display: flex;
    text-decoration: none;
    color: #000;
}
