.wikiSearcher
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.head
{
    width: 100%;
    text-align: center;
}

.moon
{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url("pic/moon.svg");
    cursor: pointer;
}

.moonColor
{
    composes: moon;
    background: url("pic/moon-color.svg");
}

.wikiSearcher_theme_black
{
    composes: wikiSearcher;
    background-color: black;
    color: white;
}

.time
{
    width: 50%;
    margin: 10px auto 0;
}
