.wikiSearcher
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wikiHead
{
    width: 100%;
    text-align: center;
}

.theme
{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url("pic/moon.svg");
}

.blackTheme
{
    composes: theme;
    background: url("pic/moon-color.svg");
}

