.wikiSearcher
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wikiHead
{
    width: 100%;
    text-align: center;
}

.themeMoon
{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url("pic/moon.svg");
}

.themeMoonColor
{
    composes: themeMoon;
    background: url("pic/moon-color.svg");
}

.blackTheme
{
    composes: wikiSearcher;
    background-color: black;
    color: white;
}
