html
{
    height: 100%;
}

html::-webkit-scrollbar
{
    display: none;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.root
{
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
